CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
src/build
*~
*.o
src/test*
src/speedcrunch
*.qm
*.pyc
moc_*
qrc_*
src/books/ar
src/books/ca
src/books/cs
src/books/de
src/books/en
src/books/es
src/books/es_AR
src/books/et
src/books/eu
src/books/fi
src/books/fr
src/books/he
src/books/hu
src/books/id
src/books/it
src/books/ja
src/books/ko
src/books/lv_LV
src/books/nb
src/books/nl
src/books/pl
src/books/pt
src/books/pt_BR
src/books/ro
src/books/ru
src/books/sv
src/books/tr
src/books/zh_CN
