CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
src/build
*~
*.o
src/test*
src/speedcrunch
*.qm
*.pyc
moc_*
qrc_*
src/book/ar
src/book/ca
src/book/cs
src/book/de
src/book/en
src/book/es
src/book/es_AR
src/book/et
src/book/eu
src/book/fi
src/book/fr
src/book/he
src/book/hu
src/book/id
src/book/it
src/book/ja
src/book/ko
src/book/lv_LV
src/book/nb
src/book/nl
src/book/pl
src/book/pt
src/book/pt_BR
src/book/ro
src/book/ru
src/book/sv
src/book/tr
src/book/zh_CN
