<html>
<head>
<title><i18n>Circle</i18n></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../books.css" />
</head>
<body>
<center>
<h1><i18n>Circle</i18n></h1>
<p><img src="../images/circle.png" /></p><br />
<a href="file:#A=pi*r^2">A = pi * r^2</a><br />
<a href="file:#A=pi*(d/2)^2">A = pi * (d/2)^2</a><br />
<a href="file:#p=2*pi*r">p = 2 * pi * r</a><br />
<a href="file:#p=pi*d">p = pi * d</a><br />
</center>
</body>
</html>
