<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../css/books.css" />
  </head>
  <body>
    <h1><i18n>Standing Wave Ratio &amp; Return Loss</i18n></h1>
    <div>
      <a href="file:#SWR = (1+r) / (1-r)">SWR = (1 + &rho;) / (1 - &rho;)</a><br />
      <a href="file:#r = (SWR-1) / (SWR+1)">&rho; = (SWR - 1) / (SWR + 1)</a><br />
      <a href="file:#r = (Z-1) / (Z+1)">&rho; = (Z - 1) / (Z + 1)</a><br />
      <a href="file:#Z = (1+r) / (1-r)">Z = (1 + &rho;) / (1 - &rho;)</a> &Omega;<br />
      <a href="file:#RL = -20 * log(r)">R<sub>L</sub> = -20&sdot;log(&rho;)</a> dB<br />
      <a href="file:#RL = -20 * log((SWR-1)/(SWR+1))">R<sub>L</sub> = -20&sdot;log[(SWR - 1) / (SWR + 1)]</a> dB<br />
      <a href="file:#Pr = Pin * r%5e2">P<sub>r</sub> = P<sub>in</sub>&sdot;&rho;<sup>2</sup></a> W<br />
      <a href="file:#Pt = Pin * (1-r%5e2)">P<sub>t</sub> = P<sub>in</sub>&sdot;(1-&rho;<sup>2</sup>)</a> W<br />
    </div>
    <table>
      <tr>
        <td class="var">P<sub>in</sub></td>
        <td class="vardesc"><i18n>input power (W)</i18n></td>
      </tr>
      <tr>
        <td class="var">P<sub>r</sub></td>
        <td class="vardesc"><i18n>reflected power (W)</i18n></td>
      </tr>
      <tr>
        <td class="var">P<sub>t</sub></td>
        <td class="vardesc"><i18n>transmitted power (W)</i18n></td>
      </tr>
      <tr>
        <td class="var">R<sub>L</sub></td>
        <td class="vardesc"><i18n>return loss (dB)</i18n></td>
      </tr>
      <tr>
        <td class="var">&rho;</td>
        <td class="vardesc"><i18n>reflection coefficient</i18n></td>
      </tr>
      <tr>
        <td class="var">SWR</td>
        <td class="vardesc"><i18n>standing wave ratio</i18n></td>
      </tr>
      <tr>
        <td class="var">Z</td>
        <td class="vardesc"><i18n>normalized impedance</i18n></td>
      </tr>
    </table>
  </body>
</html>
