<html>
  <head>
    <title><i18n>Sphere</i18n></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../books.css" />
  </head>
  <body>
    <h1><i18n>Sphere</i18n></h1>
    <center><img src="../images/sphere.png" /></center>
    <br />
    <div align="left">
      <a href="file:#V=(4/3)*pi*r^3">V = (4/3) * pi * r^3</a><br />
      <a href="file:#V=(1/6)*pi*d^3">V = (1/6) * pi * d^3</a><br />
      <br />
      <a href="file:#A=4*pi*r^2">A = 4 * pi * r^2</a><br />
      <a href="file:#A=pi*d^2">A = pi * d^2</a><br />
    </div>
  </body>
</html>
