<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../css/book.css" />
  </head>
  <body>
    <h1><i18n>Cylinder</i18n></h1>
    <div>
      <a href="file:#V = pi * r%5e2 * h">V = &pi;&sdot;r<sup>2</sup>&sdot;h</a><br />
      <br />
      <a href="file:#A = (2 * pi * r%5e2) + (2 * pi * r * h)">A = 2&sdot;&pi;&sdot;r<sup>2</sup> + 2&sdot;&pi;&sdot;r&sdot;h</a><br />
    </div>
    <table>
      <tr>
        <td class="var">V</td>
        <td class="vardesc"><i18n>volume</i18n></td>
      </tr>
      <tr>
        <td class="var">A</td>
        <td class="vardesc"><i18n>area</i18n></td>
      </tr>
      <tr>
        <td class="var">r</td>
        <td class="vardesc"><i18n>radius</i18n></td>
      </tr>
      <tr>
        <td class="var">h</td>
        <td class="vardesc"><i18n>height</i18n></td>
      </tr>
    </table>
  </body>
</html>
