<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../css/book.css" />
  </head>
  <body>
    <h1><i18n>Power</i18n></h1>
    <div>
      <a href="file:#P = I * V">P = I * V</a> W<br />
      <a href="file:#P = I%5e2 * R">P = I<sup>2</sup>&sdot;R</a> W<br />
      <a href="file:#P = V%5e2 / R">P = V<sup>2</sup> / R</a> W<br />
      <br />
      <a href="file:#I = P / V">I = P / V</a> A<br />
      <a href="file:#I = sqrt(P / R)">I = &radic;(P / R)</a> A<br />
      <br />
      <a href="file:#V = P / I">V = P / I</a>  V<br />
      <a href="file:#V = sqrt(P * R)">V = &radic;(P&sdot;R)</a> V<br />
      <br />
      <a href="file:#R = V%5e2 / P">R = V<sup>2</sup> / P</a> &Omega;<br />
      <a href="file:#R = P / I%5e2">R = P / I<sup>2</sup></a> &Omega;<br />
    </div>
    <table>
      <tr>
        <td class="var">P</td>
        <td class="vardesc"><i18n>power</i18n></td>
      </tr>
      <tr>
        <td class="var">I</td>
        <td class="vardesc"><i18n>current</i18n></td>
      </tr>
      <tr>
        <td class="var">V</td>
        <td class="vardesc"><i18n>voltage</i18n></td>
      </tr>
      <tr>
        <td class="var">R</td>
        <td class="vardesc"><i18n>resistance</i18n></td>
      </tr>
    </table>
  </body>
</html>
