<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../css/book.css" />
  </head>
  <body>
    <h1><i18n>Temperature</i18n></h1>
    <div>
      <a href="file:#Tf = 1.8 * Tc + 32">T<sub>f</sub> = 1.8 * T<sub>c</sub> + 32</a><br />
      <a href="file:#Tk = Tc + 273.15">T<sub>k</sub> = T<sub>c</sub> + 273.15</a><br />
      <a href="file:#Tc = (Tf - 32) / 1.8">T<sub>c</sub> = (T<sub>f</sub> - 32) / 1.8</a><br />
      <a href="file:#Tc = Tk - 273.15">T<sub>c</sub> = T<sub>k</sub> - 273.15</a><br />
    </div>
    <table>
      <tr>
        <td class="var">T<sub>c</sub></sub></td>
        <td class="vardesc"><i18n>temperature (C)</i18n></td>
      </tr>
      <tr>
        <td class="var">T<sub>f</sub></sub></td>
        <td class="vardesc"><i18n>temperature (F)</i18n></td>
      </tr>
      <tr>
        <td class="var">T<sub>k</sub></sub></td>
        <td class="vardesc"><i18n>temperature (K)</i18n></td>
      </tr>
    </table>
  </body>
</html>
