[Desktop Entry]
Name=SpeedCrunch
GenericName=High precision calculator
GenericName[nl]=Rekenmachine met hoge nauwkeurigheid
GenericName[pt]=Calculadora de alta precisão
GenericName[tr]=Yüksek duyarlıklı hesap makinesi
Exec=speedcrunch
Icon=speedcrunch
Type=Application
Categories=Qt;Utility;Calculator;

